<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Correo de Comet</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #ffffff;">
<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="padding: 20px 0;">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #121b27; border-radius: 8px;">
                <tr>
                    <td align="center" style="background-color: #000034; padding: 20px;">
                        <img src="https://res.cloudinary.com/dw43hgf5p/image/upload/v1750709791/AF3173AB-74B3-42F6-95B3-E77602CBA371_Background_Removed_nlvryg.png" alt="Logo de Comet" style="max-width: 100px; height: auto;">
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 30px 20px;">
                        <h1 style="color: #e0e1dd; margin: 0;">¡Hi {{username}}!</h1>
                        <p style="line-height: 1.6; margin: 20px 0 10px;">Welcome to <strong>Comet</strong>, it's great to have you here!</p>
                        <p style="line-height: 1.6; margin: 0 0 20px;">Here's your verification code for your account. Please enter this code when you log in for the first time</p>
                        <div style="background: #415a77; font-weight: bold; font-size: 18px; padding: 20px; color: white; border-radius: 7px; display: inline-block; margin-top: 15px;">
                            {{verification_code}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 15px; font-size: 12px; color: #999999;">
                        &copy; 2025 Comet
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>